h1{
    text-align: center;
}
h3{
    text-align: center;
}
.cardMain{
    background-color: #EAB39E;
    margin-bottom: 25px;
    text-align: center;
    color: #FCF4B5;
}
body{
   background-color: #FCF4B5;
}